.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 65px;
}

.leftSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 150px;
  max-width: 200px;
  margin-inline: 30px;
}

.logoImg {
  width: 100%;
  height: 100%;
}

.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}
